@font-face {
  font-family: "Norse Bold";
  src: url(assets/fonts/Norse-Bold.otf);
}

:root {
  --logo-color: white;
  --primary-color: #596D48;
  --bg-color: #f9fafb;
  --form-color-bg: white;
  --form-color-text: #1f2937;
  --input-color-default: #E5E7EB;
  --input-color-selected: blue;
  --input-color-invalid: red;
  --box-shadow-color: rgba(0, 0, 0, 0.14);
  --container-width: calc(262px * 2 + 5rem)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
}

.logo-sidebar {
  flex: 1 1 33%;
  background: url(assets/images/halie-west-25xggax4bSA-unsplash.jpg) center/cover;
  color: var(--logo-color);
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
  padding: .5rem;
  width: 100%;

  position: absolute;
  top: 20%;
}

.logo img {
  width: 72px;
}

.logo span {
  font-family: "Norse Bold", serif;
  font-size: 5rem;
}

.attribution {
  text-align: center;
  font-size: 0.875rem;
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

.attribution > * {
  color: var(--logo-color);
}

main {
  flex: 2 1 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--bg-color);
}

h1, section {
  padding-left: 3rem;
}

h1, h2 {
  font-size: 1.5rem;
  max-width: 800px;
}

h1 {
  margin-bottom: 4rem;
}

#fields {
  background-color: var(--form-color-bg);
  box-shadow: 0 3px 6px 2px var(--box-shadow-color);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

h2 {
  color: var(--form-color-text);
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 1.5rem;
  max-width: var(--container-width);
}

label {
  color: var(--form-color-text);
  font-size: 0.75rem;
  letter-spacing: 1.5px;
}

input {
  font-size: 1rem;
  padding: 0.4rem 0.5rem;
  border: 1px solid var(--input-color-default);
  border-radius: 5px;
}

input:user-invalid {
  border-color: red;
}

input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 2px 2px 4px 2px var(--box-shadow-color);
}

button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 10px;
  cursor: pointer;
}

#submit > p {
  margin-bottom: 2rem;
}

.login {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

button:hover, .login:hover {
  filter: brightness(0.9);
}